.search {
    /* box-sizing: border-box; */
    padding: 10px;
    display: flex;
    justify-content:space-between;
    height: 45px;
}
.search_son {
    display: flex;
}
.el-button{
    margin-left: 5px;
    margin-right: 5px;
    height: 12px;
}
.search_son_span{
    padding: 10px;
    min-width: 80px;
}